In [3]:
sports = ('cricket', 'football', 'tennis', 'badminton')

x = list(sports)
print(x , type(x))

x.append('hockey')

sports = tuple(x)
print(sports , type(sports))

['cricket', 'football', 'tennis', 'badminton'] <class 'list'>
('cricket', 'football', 'tennis', 'badminton', 'hockey') <class 'tuple'>

In [5]:
sport = ('cricket')
print(type(sport))
# paradox - tuple with single element is not a tuple
# it is a string

# tuple with single element
sport = ('cricket',)
print(type(sport))

<class 'str'>
<class 'tuple'>

In [7]:
# nasted tuple
nested_tuple = ((1, 2, (3, 4, 5)), (6, 7, 8))
print(nested_tuple)

print(nested_tuple[0][2])

((1, 2, (3, 4, 5)), (6, 7, 8))
(3, 4, 5)